@import url('https://fonts.googleapis.com/css2?family=Italianno&family=Lobster&family=Pacifico&family=Poppins:ital,wght@0,500;0,600;1,500;1,600;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


html, body {
  scroll-behavior: smooth;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}


.dot {
  height: 10px;
  width: 10px;
  margin: 0 5px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
}

.active {
  background-color: #717171;
}